body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    }

    .burger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    }

    .burger-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    #MenuImage {
        height: auto;
        margin: 0 780px;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
        }
        
    .menu li {
        padding: 15px;
        text-align: center;
        }
        
    .menu a {
        text-decoration: none;
        color: #fff;
        }

    .menu.active {
         display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        Left: 0;
        width: 100%;
        background-color:#333;
        }